
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.left{
    width: 25vw;
    margin: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.home{
    background-color: rgb(26, 26, 26);
    border-radius: 7px;
    padding: 3px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
    color: white;
}

.home li{
    width: 34px;
    display: flex;
    gap: 25px;
    list-style: none;
    font-weight: 500;
    padding:15px 18px ;
    
}
.home li img{
    z-index: 999;
    fill: white; 
    width: 30px; 
    height: 30px; 
}
.logo img{
    height: 40px;
    padding: 10px 10px 0px 0px;
}
.library{
    background-color: rgb(26, 26, 26);
    border-radius: 7px;
    padding: 3px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    color: white;
   
    min-height: 70vh; /* Adjust this value as needed */
    max-height: 80vh; /* Set a maximum height */
    position: relative;
    height: 100%; /* Ensure it uses available height */
    overflow: hidden; /* Hide overflow to manage scrolling within songlist */
}
.lib {
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: center;
    justify-content: space-evenly;
}
.lib .head{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px 10px 15px;
}
 .lib .head img {
    z-index: 999;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    width: 25px;
    height: 30px;
}
.lib .add{
    padding-left: 20px;
}
.lib .add svg{
    height: 25px;
    
}
.footer {
   
    padding: 20px 40px;
    display: flex;
    gap: 10px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   position: absolute;
   bottom: 60px;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: #b3b3b3;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: white;
}
.right{
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    border-radius: 7px;
    padding: 3px;
    margin: 18px 0px;
    width: 71vw;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: -5px;
}
.right .header {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
   margin: -4px;
    background-color: #111010;
    align-items: center;
}
.header .nav {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.header .nav svg{
    border-radius: 50px;
    background-color: #020202;
    padding: 3px;
}
 .button{
    display: flex;
    
    flex-direction: row;
    
}
.button button{
    margin: 0 10px;
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s,transform 0.3s;
}
.button .log-in {
    background-color: #ffff;
    color: black;
   
}


.button .sign-up {
    background-color: transparent;
    color: #b3b3b3;
}

.button .log-in:hover {
    
    color: black;
    transform: scale(1.1);
}

.button .sign-up:hover {
   
    transform: scale(1.1);
}
.popular{
    display: flex;
    margin: 20px;
    flex-direction: column;
}
.pophead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pophead a{
     text-decoration: none;
     color: #b3b3b3;
}
.pophead a:hover{
    text-decoration: underline;
}
.artists{
    display: flex;
    flex-direction: row;
  
}
.artcard{
    width: 285px;
    height: 400px;
    padding: 5px;
    position: relative; 
    transition: background-color 0.3s;
    
}
.artcard img{
    border-radius: 300px;
    width: 270px;
    height: 270px;
    margin: 10px;
}
.artcard p{
    color: #b3b3b3;
}
.play{
    position: absolute;
    top: 240px;
    right: 40px;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.artcard:hover{
    background-color: #232323;
   
}
.artcard:hover .play {
    opacity: 1;
}

.albumncard{
    width: 280px;
    height: 400px;
    padding: 5px;
    position: relative; 
    transition: background-color 0.3s;
    
}
.albumncard img{
    border-radius: 5px;
    width: 270px;
    height: 270px;
    margin: 10px;
}
.albumncard p{
    color: #b3b3b3;
}
.play{
    position: absolute;
    top: 255px;
    right: 38px;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.albumncard:hover{
    background-color: #232323;
   
}
.albumncard:hover .play {
    opacity: 1;
}
.playbar{
    position: fixed;
    bottom: 0;
    background-color: rgb(3, 42, 3);
    width: 72%;
    padding: 12px;
    height: 40px;
    
}

.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.songlist{
     flex: 1;
    overflow-y: auto;
    background-color: #121212;
    width: 100%;
    margin-bottom: 170px;
    overflow-x: hidden; 

}
.songlist::-webkit-scrollbar {
    width: 8px; 
}


.songlist::-webkit-scrollbar-track {
    background: #121212; 
}

.songlist::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 4px; 
}


.songlist::-webkit-scrollbar-thumb:hover {
    background: #888; 
}
.songlist ul{
    padding: 0px 30px;
   
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 34px;
    cursor: pointer;
    padding: 12px 0px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
 